<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG :: LOGIN</title>
</head>
<body>

<div class="container">
    <h1>BLOG APPLICATION</h1>
    <hr/>
</div>

    <form action="#"
          th:action="@{/login}"
          method="POST">
        <div>
            <label for="email">Email</label>
            <input id="email" type="text" name="email" placeholder="email"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="text" name="password" placeholder="password"/>
        </div>
        <button type="submit">Login!</button>
    </form>

</body>
</html>