<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG :: POST</title>
</head>
<body>
<div class="container">
    <a th:href="@{'/'}">Home</a>
    <div class="post">
        <h2 th:text="${post.title}">Title</h2>
        <h5 th:text="'Written by: ' + ${post.account.firstName}">Account First Name</h5>
        <h5 th:text="'Created: ' + ${post.createdAt}">Created At</h5>
        <h5 th:text="'Updated: ' + ${post.updatedAt}">Updated At</h5>
        <p th:text="${post.text}">Text</p>
    </div>

    <ul sec:authorize="isAuthenticated()">
        <li><a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a></li>
        <li><a th:href="@{'/posts/' + ${post.id} +'/delete'}">Delete</a></li>
    </ul>
</div>

</body>
</html>
